@brand-default: #999;
@brand-primary: #009871;
@brand-primary-hover: #0B7D60;
@brand-primary-dark: #004F3B;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@brand-info: #5bc0de;
@brand-lightness: #ddd;
@dark-background: #101010;
@fonts: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
@light-background: #ededed;
@text-color: #333333;

html,
body {
  height: 100%;
}
body {
  background-color: @light-background;
  font-family: @fonts;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: @text-color;
  font-family: @fonts;
  font-weight: 600;
}
hr {
  border-top-color: @brand-default;
  border-bottom: 1px solid #fff;
}

.container {
  width: 80%;
}

.main {
  padding: 40px 0 40px;
}

button {
  display: block;
  margin-top: 5px;
  width: 100%;

  &.btn-primary {
    background-color: @brand-primary;
    border-color: @brand-primary-dark;
  }
  &.btn-primary:hover,
  &.btn-primary:focus,
  &.btn-primary:active {
    background-color: @brand-primary-hover;
    border-color: @brand-primary-dark;
  }
}

header {
  float: left;
  margin: 0 0 0.3em;
  width: 100%;

  .date {
    float: none;
    text-align: right;

    p {
      background-color: @brand-primary;
      color: #fff;
      font-size: 0.7em;
      font-weight: 600;
      padding: 0.2em 1em;

      .glyphicon {
        font-size: 1.2em;
      }
    }
  }

  .headline {
    float: none;
    text-align: left;
    max-width: none;
  }
}

.control-demo {
  min-height: 500px;

  .controller {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
  }

  .demo-container {
    float: none;
    width: 100%;
  }
}

.label-primary {
  background-color: @brand-primary;
}

.flags {
  clear: both;
  margin-bottom: 40px;
  width: 100%;

  .flag {
    float: left;
    margin-right: 1em;
  }
}

@media (min-width: 480px) {
  button {
    display: inline-block;
    margin-top: 0;
    width: auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  header {
    .date {
      float: right;

      p {
        font-size: 1em;
        padding: 1em;
      }
    }

    .headline {
      float: left;
      max-width: 80%;
    }
  }
}
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

@import "haiku-bot.less";
